@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Gochi+Hand&family=The+Girl+Next+Door&family=Courgette&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: auto;
    background-color: orchid;
    color: lavenderblush;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

h1,
h2,
h3 {
    text-align: center;
}


/*header*/
header {
    background-color: darkviolet;
    font-family: 'Gochi Hand', cursive;
    background-size: cover;
}

.menu{
    padding: 10px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    
}
.menu .logo{
    float: left;
    margin-right: 50px;
}
.menu a{
    color: bisque;
    text-decoration: none;
    list-style: none;
    font-size: 23px;
}
.menu a:hover {
    color: aqua;
    transition: all .5s ease-in-out;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
}

.menu .navbar ul{
    display: flex;
}
.menu .navbar ul li{
    margin: 0 30px;
}
.menu .desplegable{
    display: none;
    position: absolute;
    width: 40px;
    right: 30px;

}


/*main*/
.container{
    max-width: 1400px;
    margin: auto;
}

#inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.medio {
    margin: 50px;
    white-space: pre-line;
    text-align: -webkit-center;
}

.titulo {
    margin: revert;
    font-size: 50px;
    white-space: nowrap;
    overflow: hidden;
    width: 10em;
    animation: anim 5s infinite;
}

@keyframes anim {
    from {
        width: 0;
    }
}

button {
    list-style: none;
}

a .boton {
    text-align: center;
    margin: auto;
}

.boton {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px 30px;
    border: 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: blueviolet;
    font-family: 'The Girl Next Door', cursive;
}

.boton:hover {
    background-color: rgb(101, 33, 165);
    padding: 15px 20px;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);

}

.content{
    padding: 50px 10px;
}
.content .container{
    text-align: center;
}

#about-us h2{
    padding: 20px;
}

#promos{
    padding: 50px 15px;
}
#promos .container{
    text-align: center;
 
}
#promos h2{
    padding-bottom: 20px;
}
#promos p{
    display: block;
}
#promos .books{
    background-position: center center;
    background-size: cover;
    padding: 10px 15px;
    border-radius: 15px;
}
#promos .programas{
    display: flex;
    justify-content: center;
}

.books {
    text-align: center;
}
.books h3{
    padding: 15px;
    padding-top: 0;
}
.books p{
    text-align: center;
    padding: 5px 20px 30px;
}

.info {
    display: flex;
    flex-direction: row;
}

.whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}

.icon-wsp {
    width: 80px;
}

.icon-wsp:hover {
    transform: scale(1.5);
}


/*about us*/
.trabajos{
    text-align: center;
    display: flex;
    align-items: center;
    padding: 30px;

}

.trabajos iframe{
    width: 60%;
}

.trabajos p{
    width: 50%;
    padding: 80px;
    font-size: 25px;
}


/*servicios*/
.container-serv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px;

}

/*promos*/
.combos {
    font-family: 'Courgette';
    font-weight: lighter;
    color: aliceblue;

}

.combos h3 {
    text-align: left;
    color: paleturquoise;
}

.combos div {
    padding: 10px;
    width: max-content;
    white-space: pre-line;
}

.combos div:hover {
    transform: translate(30px);
    -webkit-transform: translate(30px);
    -ms-transform: translate(30px);
    transition: all .5s ease-in-out
}

.caja {
    border: 5px rgba(255, 0, 212, 0.995);
    border-radius: 90px;
    border-style: solid;
    background-color: rgba(179, 76, 170, 0.514);
    overflow: hidden;
}

.caja p {
    text-align: center;
}

.imagen:hover {
    transform: scale(1.6);
    -webkit-transform: scale(1.6);
    filter: none;
}

.imagen {
    filter: grayscale(100%);
    width: 90%;
    border-radius: 80px;
}


/*contact*/
form {
    margin: 0 auto;
    width: 900px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    text-align: center;
}

.formulario{
    align-items: center;

}

fieldset {
    width: fit-content;
    margin: auto;
    align-items: center;
    text-align: center;

}
fieldset input{
    margin: 5px;
}

input:focus,
textarea:focus {
    border-color: rgb(25, 1, 47);
}

textarea {
    vertical-align: top;
    height: 5em;
}


/*footer*/
footer {
    background-color: rgb(73, 38, 112);
    font-family: 'The Girl Next Door', cursive;
    text-align: center;

}

footer nav a {
    display: contents;
}

footer nav a img {
    width: 70px;
}

footer nav a img:hover {
    transform: scale(2);

}

.info {
    padding-top: 20px;
    justify-content: space-around;
    font-size: 30px;
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.red-social {
    margin: auto;
}

.ddrr {
    filter: blur(0.8px);
}

/*responsive para moviles*/
@media screen and (max-width:950px) {
    
    header{
        height: 45vh;
    }

    .menu{
        padding: 10px;
        padding-bottom: 0;
    }
    .menu .desplegable{
        display: block;
    }

    .navbar{
        position: absolute;
        background-color: rgba(153, 50, 204, 0.377);
        top: 0;
        left: 0;
        width: 100%;
        height: 42vh;
        display: flex;
        justify-content: center;
        align-items: end;
        
    }
    .navbar ul{    
        flex-direction: column;
        align-items: center;

     }

     .menu .navbar ul li{
        margin: 10px;
        
    }
    .menu a{
        margin-left: 0;
        font-size: 30px;
        
    }

    #promos .container{
        text-align: center;
    }
    #promos .programas{
        display: block;
    }
    #promos .books{
        padding: 0;
        padding-bottom: 30px;
    }


    /*about-us*/
    .trabajos{
        padding: 0;
        margin: 10px;
        display: inherit;
    }
    .trabajos p{
        padding: 0;
        width: 100%;
    }
    .trabajos iframe{
        width: 100%;
    }


    /*servicios*/
    .container-serv{
        margin: 5px;

    }


    /*contact*/
    form{
        width: 100%;
    }
    form fieldset{
        display: grid;
        margin: auto;
        width: 100%;
        border-radius: 10px;
    }


    /*footer*/
    .info{
        display: block;
    }
    

}

