@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Gochi+Hand&family=The+Girl+Next+Door&family=Courgette&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: auto;
    background-color: orchid;
    color: lavenderblush;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}


h1,
h2,
h3 {
    text-align: center;
}


/*header*/
header {
    background-color: darkviolet;
    font-family: 'Gochi Hand', cursive;
    background-size: cover;
}

.menu{
    padding: 10px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    
}
.menu .logo{
    float: left;
    margin-right: 50px;
}
.menu a{
    color: bisque;
    text-decoration: none;
    list-style: none;
    font-size: 23px;
}
.menu a:hover {
    color: aqua;
    transition: all .5s ease-in-out;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
}

.menu .navbar ul{
    display: flex;
}
.menu .navbar ul li{
    margin: 0 30px;
}
.menu .desplegable{
    display: none;
    position: absolute;
    width: 40px;
    right: 30px;

}


/*main*/
.container{
    max-width: 1400px;
    margin: auto;
}


button {
    list-style: none;
}

a .boton {
    text-align: center;
    margin: auto;
}

.boton {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px 30px;
    border: 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: blueviolet;
    font-family: 'The Girl Next Door', cursive;
}

.boton:hover {
    background-color: rgb(101, 33, 165);
    padding: 15px 20px;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);

}




/*servicios*/
#serv{
    
    background-color: orchid;
    font-size: 20px;
}

#serv main{
    font-family: 'Courgette', cursive;
    color: lavenderblush;
    
}
#serv h1{
    margin: 30px;
}
#serv table{
    vertical-align: middle;
}
table tr{
    color: lavenderblush;
}
table th{
    height: max-content;
}
table td{
    border-style: none;
    display: block;
}
table img{
    width:20%;
    height: 20%;
}
#serv tbody{
    text-align: center;
   
}
#serv footer{
    color: lavenderblush;  
}

/*create*/
#create{
    background-color: orchid;
    font-size: 20px;
    font-family: 'Courgette', cursive;
    color: lavenderblush;
}
#create h1{
    margin: 30px;
}
#create input{
    color: darkslategrey;
}

/*update*/
#update{
    background-color: orchid;
    font-size: 20px;
    font-family: 'Courgette', cursive;
    color: lavenderblush;
}
#update h1{
    margin: 30px;
}
#update input{
    color: darkslategrey;
}

form {
    margin: 0 auto;
    width: 900px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    text-align: center;
}

.formulario{
    align-items: center;

}

fieldset {
    width: fit-content;
    margin: auto;
    align-items: center;
    text-align: center;

}
fieldset input{
    margin: 5px;
}

input:focus,
textarea:focus {
    border-color: rgb(25, 1, 47);
}

textarea {
    vertical-align: top;
    height: 5em;
}


/*footer*/
footer {
    background-color: rgb(73, 38, 112);
    font-family: 'The Girl Next Door', cursive;
    text-align: center;

}

footer nav a {
    display: contents;
}

footer nav a img {
    width: 70px;
}

footer nav a img:hover {
    transform: scale(2);

}
#serv footer p{
    margin-bottom: 0;
    height: 40px;
    align-self: center;
}
#create footer p{
    margin-bottom: 0;
    height: 40px;
    align-self: center;
}
#update footer p{
    margin-bottom: 0;
    height: 40px;
    align-self: center;
}


.info {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: space-around;
    font-size: 30px;
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.red-social {
    margin: auto;
}

.ddrr {
    filter: blur(0.8px);
    background-color: rgb(73, 38, 112);

}

/*responsive para moviles*/
@media screen and (max-width:950px) {
    
    header{
        height: 45vh;
    }

    .menu{
        padding: 10px;
        padding-bottom: 0;
    }
    .menu .desplegable{
        display: block;
    }

    .navbar{
        position: absolute;
        background-color: rgba(153, 50, 204, 0.377);
        top: 0;
        left: 0;
        width: 100%;
        height: 42vh;
        display: flex;
        justify-content: center;
        align-items: end;
        
    }
    .menu .navbar ul{    
        flex-direction: column;
        align-items: center;

     }

    .menu .navbar ul li{
        margin: 5px;
        text-align: center;
        
    }
    .menu a{
        margin-left: 0;
        font-size: 30px;
        
    } 


    /*servicios*/
    #serv header{
        display: flex;
    }    
    #serv footer p{
        margin-bottom: 0;
        height: 40px;
        align-self: center;
    }
    table tr{
        width: 100%;
    }

    #create header{
        height: auto;
        align-items: center;
    }    
    #create footer p{
        margin-bottom: 0;
        height: 40px;
        align-self: center;
    }

    #update header{
        height: auto;
        align-items: center;
    }
    #update footer p{
        margin-bottom: 0;
        height: 40px;
        align-self: center;
    }

    form{
        width: 100%;
    }
    form fieldset{
        display: grid;
        margin: auto;
        width: 100%;
        border-radius: 10px;
    }


    /*footer*/
    .info{
        display: block;
    }
    

}

